<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div class="container">


    {% block content %}
    {% endblock %}

    {% if user.is_authenticated %}
     <div class="container">

        <a href="{% url 'add-travel' %}"> Dodaj podróż</a>

    </div>

    <div class="container">

        <a href="{% url 'list-travel' %}"> Lista podróży</a>

    </div>

    <div class="container">

        <a href="{% url 'logout' %}"> Wyloguj {{ user.get_username }} </a>

    </div>

    {% endif %}
</div>

</body>
</html>