{% extends 'base.html' %}

{% block title %} Lista podróży {% endblock %}
{% block header %} Lista podróży {% endblock %}
{% block content %}


    <ul>
        {% for object in object_list %}

            <li>
                <a href="{% url 'detail-travel' pk=object.id %}">   {{ object.topic }} | </a>
                <a href="{% url 'update-travel' pk=object.id %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edytuj | </a>
                <a href="{% url 'delete-travel' pk=object.id %}"> <i class="fa fa-trash" aria-hidden="true"></i> Usuń </a>

            </li>

        {% endfor %}
    </ul>



{% endblock %}